@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 font-sans;
  }
}

/* Estilos de impresión para reportes de Sprint Review */
@media print {
  aside, nav, button, .no-print {
    display: none !important;
  }
  main {
    padding: 0 !important;
    margin: 0 !important;
  }
}
